.new-announce {
    /* Layout Properties */
    top: 0px;
    left: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* UI Properties */
    background: #802922;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 30vw;

}

input {
    margin-top: 5px;
    width: 100%;
}

textarea {
    resize: vertical;
}

button {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: #802922;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #500000;
}

button:active {
    transform: scale(0.95);
}