div.index {
    /* Layout Properties */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow-y: scroll;

    /* UI Properties */
    background: #802922;
}

div.announces {
    /* Layout Properties */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
    margin-bottom: 50px;
}